services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 1.5G
    networks:
      - internal

  backend:
    image: ghcr.io/daspawnw/sammelalbum-api/backend:main
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      APP_JWT_SECRET: ${JWT_SECRET}
      APP_JWT_EXPIRATION: ${JWT_EXPIRATION}
      APP_VALIDATION_CODES: ${VALIDATION_CODE}
      APP_CORS_ALLOWED_ORIGINS: "https://${DOMAIN_NAME}"
      JAVA_TOOL_OPTIONS: "-Xmx2304m"
    deploy:
      resources:
        limits:
          memory: 3G
    depends_on:
      - db
    networks:
      - internal
      - web

  frontend:
    image: ghcr.io/daspawnw/sammelalbum-api/frontend:main
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G
    networks:
      - web

  caddy:
    build: ./caddy
    restart: always
    deploy:
      resources:
        limits:
          memory: 1G
    ports:
      - "80:80"
      - "443:443"
    environment:
      ACME_EMAIL: ${ACME_EMAIL}
      DOMAIN_NAME: ${DOMAIN_NAME}
      CLOUDFLARE_API_TOKEN: ${CLOUDFLARE_API_TOKEN}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - backend
      - frontend
    networks:
      - web

networks:
  internal:
    internal: true
  web:

volumes:
  caddy_data:
  caddy_config:
